---
layout: default
---

<h1>{{ site.title }}</h1>
<p>欢迎来到大江狗的技术和生活博客。您还可以通过搜索【<a href="https://blog.csdn.net/weixin_42134789">CSDN大江狗</a>】、
【<a href="https://www.zhihu.com/people/shi-yun-bo-53">知乎大江狗</a>】和扫码微信公众号【Python Web与Django开发】关注我。</p>
<p><img src="assets/images/django.png" height="100px"/></p>

    {% for post in paginator.posts %}
	<hr/>
      <h2>{{ post.title }}</h2>
	  <span>{{ post.date | date_to_string }}</span> |
	  
	  {% assign categories = post.categories %}
	   {% for category in categories %}
		 <span><a href="{{site.baseurl}}/categories/{{category|slugize}}">{{category}}</a></span>
		  {% endfor %}
	<p>{{ post.excerpt }}</p>
	<p><a href="{{ post.url }}">>> Read More</a></p>
	 
    {% endfor %}

  <!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="wj-pagination"> 
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="active">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

<style>
.wj-pagination {
    text-align: left;
	margin-top: 24px;
}

.wj-pagination a, .wj-pagination span {
    padding: 6px 15px;
    border: 1px solid #eee;
    background-color: #ffffff;
}

.wj-pagination a:hover, .wj-pagination span.active {    
    background-color: #f1f1f1;
    color: #333;
}
</style>